
upstream backend {
	{% for item in groups['webservers'] %}
		server {{ hostvars[item]['ansible_default_ipv4']['address'] }}:80;
	{% endfor %}
}
server {
	listen 80;
	location / {
		proxy_pass http://backend;
	}

}
