#---------------------------------------------------------------------
# Paramètres globaux
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2     #Log configuration
  
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000                
    user        haproxy             #Haproxy fonctionnant sous utilisateur et le groupe "haproxy"
    group       haproxy
    daemon
  
    # mise en marche de stats unix socket
    stats socket /var/lib/haproxy/stats
  
#---------------------------------------------------------------------
# Configuration FrontEnd 
#---------------------------------------------------------------------
frontend main
    bind *:80
    option http-server-close
    default_backend app-main
  
#---------------------------------------------------------------------
# BackEnd roundrobin comme balance algorithm
#---------------------------------------------------------------------
backend app-main
    balance roundrobin                                     #Balance algorithm
    option httpchk HEAD / HTTP/1.1\r\nHost:\ localhost    #Vérifie si l’application de serveur est fonctionnel et en bon état - 200 status code
    option httpclose
    mode http
    server serveur1b 172.17.0.5:80 check
    server serveur2b 172.17.0.6:80 check
    
